name: "Create Release"

on:
  push:
    branches:
      - master


jobs:
  create_release:
    name: Create Release Draft
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Check if Release Exists
        id: check_release
        run: |
          if gh release view ${{ env.VERSION }} > /dev/null 2>&1; then
            echo "Error: Release ${{ env.VERSION }} already exists."
            exit 1  # Exit with non-zero status to fail the workflow
          fi

      - name: Create Draft Release
        id: release
        run: |
          gh release create ${{ env.VERSION }} --draft
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_4_ICEDASH_RELEASE }}

  build_linux:
    name: Build Linux
    runs-on: ubuntu-latest
    needs: create_release

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Install Required Packages
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          libgtk-3-dev \
          pkg-config \
          cmake \
          gstreamer1.0-tools \
          libgstreamer1.0-dev \
          libgstreamer-plugins-base1.0-dev
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'
          channel: 'stable'

      - name: Install FRB
        uses: baptiste0928/cargo-install@v3
        with:
          crate: flutter_rust_bridge_codegen

      - name: Run FRB generate
        run: flutter_rust_bridge_codegen generate

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Linux
        run: flutter build linux --release

      - name: Upload Artifacts to Release
        run: |
          gh release upload ${{ env.VERSION }} build/linux/x64/release/bundle/icedash --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_4_ICEDASH_RELEASE }}

  build_windows:
    name: Build Windows
    runs-on: windows-latest
    needs: create_release

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          $version = (Get-Content pubspec.yaml | Where-Object {$_ -match '^version: '} | ForEach-Object {$_ -replace '^version: ', ''}).Trim()
          echo "VERSION=$version" >> $env:GITHUB_ENV

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'
          channel: 'stable'

      - name: Install FRB
        uses: baptiste0928/cargo-install@v3
        with:
          crate: flutter_rust_bridge_codegen

      - name: Run FRB generate
        run: flutter_rust_bridge_codegen generate

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Windows
        run: flutter build windows --release

      - name: Upload Artifacts to Release
        run: |
          gh release upload ${{ env.VERSION }} build/windows/x64/runner/Release/icedash.exe --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_4_ICEDASH_RELEASE }}

  build_android:
    name: Build APK
    runs-on: ubuntu-latest
    needs: create_release

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'
          channel: 'stable'

      - name: Install FRB
        uses: baptiste0928/cargo-install@v3
        with:
          crate: flutter_rust_bridge_codegen

      - name: Run FRB generate
        run: flutter_rust_bridge_codegen generate

      - name: Install Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload Artifacts to Release
        run: |
          gh release upload ${{ env.VERSION }} build/app/outputs/flutter-apk/app-release.apk --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_4_ICEDASH_RELEASE }}

  finalize_release:
    name: Finalize Release
    runs-on: ubuntu-latest
    needs: [build_linux, build_windows, build_android]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Finalize Draft Release
        run: |
          gh release edit ${{ env.VERSION }} --draft=false
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_4_ICEDASH_RELEASE }}
