name: Flutter Build and Release

on:
  push:
    branches:
      - master  # Change to your main branch if necessary


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'  # or 'zulu', 'temurin', etc.
      
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable  # or 'beta', 'dev'

      - name: Install Dependencies
        run: flutter pub get
      
      - name: Install FRB
        uses: baptiste0928/cargo-install@v3
        with:
          crate: flutter_rust_bridge_codegen

      - name: Run FRB generate
        run: flutter_rust_bridge_codegen generate
      
      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Check if Tag Exists
        id: check_tag
        run: |
          if git rev-parse "${{ env.VERSION }}" >/dev/null 2>&1; then
            echo "TAG_EXISTS=true" >> $GITHUB_ENV
          else
            echo "TAG_EXISTS=false" >> $GITHUB_ENV
          fi

      - name: Modify Tag
        if: env.TAG_EXISTS == 'true'
        id: modify_tag
        run: |
          new_version="${{ env.VERSION }}-build-${{ github.run_number }}"
          echo "VERSION=$new_version" >> $GITHUB_ENV

      - name: Build APK
        run: flutter build apk --release
     
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/app-release.apk"
          tag: ${{ env.VERSION }}
          token: ${{ secrets.PAT_4_ICEDASH_RELEASE }}
